<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    CONTROLE DE PESSOAS
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">

                <li class="nav-item">
                    <a href="{% url 'pessoas:index' %}" class="nav-link">
                        <i class="nav-icon far fa-circle text-danger"></i>
                        <p>
                            DASHBOARD
                            {#                <span class="right badge badge-danger">New</span>#}
                        </p>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="{% url 'pessoas:lista' %}" class="nav-link">
                        <i class="nav-icon far fa-circle text-danger"></i>
                        <p>
                            LISTA GERAL
                            {#                <span class="right badge badge-danger">New</span>#}
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'pessoas:lista_homens' %}" class="nav-link">
                        <i class="nav-icon far fa-circle text-danger"></i>
                        <p>
                            HOMENS
                            {#                <span class="right badge badge-danger">New</span>#}
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'pessoas:lista_mulheres' %}" class="nav-link">
                        <i class="nav-icon far fa-circle text-danger"></i>
                        <p>
                            MULHERES
                            {#                <span class="right badge badge-danger">New</span>#}
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'pessoas:relatorios' %}" class="nav-link">
                        <i class="nav-icon far fa-circle text-danger"></i>
                        <p>
                            RELATÓRIOS
                        </p>
                    </a>
                </li>

            </ul>

    </ul>

</nav>
<!-- /.sidebar-menu -->

</div>

</aside>