{% extends 'people/dashboard/base_cartorio.html' %}
{% load static %}


{% block topo %}
    <li class="breadcrumb-item"><a href="{% url 'cartorio:estados'  %}"> ESTADOS </a> </li>
    <li class="breadcrumb-item"><a href="{% url 'cartorio:estado_detalhe' estado.sigla %}"> {{ estado }}</a> </li>

{% endblock %}

{% block content %}

    <section class="content">
        <div class="container">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Lista das Cidades por Estado </h3>
                    <br>
                    <hr>

{#                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPessoa">#}
{#                        Novo Cadastro#}
{#                    </button>#}
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Nome</th>

                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for p in cidades %}
                            <tr>
                                <td><a href="{% url 'cartorio:cidade' p.id %}">{{ p }} </a></td>


                                <td style="text-align: center">


                                </td>

                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>

                  <hr>
                    <a class="btn btn-info" href="{{request.META.HTTP_REFERER|escape}}" > Voltar </a>

                </div>
            </div>
        </div>
    </section>




    {% include 'people/dashboard/modals/m_pessoa.html' %}


{% endblock %}

{% block scripts %}

    <script src="{% static 'plugins/datatables/jquery.dataTables.js' %} "></script>
    <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %} "></script>



    <script>
        $(function () {
            $("#example1").DataTable({
                "order": [[0, 'asc']],
                "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
                "iDisplayLength": 50,
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }


                }
            });

        });

    </script>

{% endblock %}