{% extends 'people/dashboard/base_cartorio.html' %}


{% block content %}

    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">

                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>{{ estados }} </h3>

                            <p> ESTADOS </p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person"></i>
                        </div>
                        <a href="{% url 'cartorio:estados' %}" class="small-box-footer">Acesse a Lista... <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>{{ cidades }}</h3>

                            <p>CIDADES</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person"></i>
                        </div>
                        <a href="{% url 'cartorio:cidades' %}" class="small-box-footer">Acesse a Lista... <i
                                class="fas fa-arrow-circle-right"></i></a>

                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{ cartorios }}</h3>

                            <p>NUMERO DE CARTORIOS</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person"></i>
                        </div>
                        <a href="{% url 'cartorio:cartorios' %}" class="small-box-footer">Acesse a Lista... <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>


                <!-- ./col -->
                {#                <div class="col-lg-3 col-6">#}
                {#                    <!-- small box -->#}
                {#                    <div class="small-box bg-danger">#}
                {#                        <div class="inner">#}
                {#                            <h3>{{ boletos.count }}</h3>#}
                {##}
                {#                            <p>{% if boletos.count > 1 %}MENSALIDADES {% else %}MENSALIDADE{% endif %}</p>#}
                {#                        </div>#}
                {#                        <div class="icon">#}
                {#                            <i class="ion ion-pie-graph"></i>#}
                {#                        </div>#}
                {#                        <a href="#" class="small-box-footer">Veja mais...<i#}
                {#                                class="fas fa-arrow-circle-right"></i></a>#}
                {#                    </div>#}
                {#                </div>#}
                <!-- ./col -->
            </div>

            <div class="container">

                #### API's com Django Restframework
                <br><br>
                <a href="https://inovacaoafro.pythonanywhere.com/cartorio/api" target="_blank"> https://inovacaoafro.pythonanywhere.com/cartorio/api </a><br>
                <br><br>

                 #### API's com Django Restframework Personalizadas
                    <br><br>
                <a href="https://inovacaoafro.pythonanywhere.com/cartorio/api/lista-estados" target="_blank"> https://inovacaoafro.pythonanywhere.com/cartorio/api/lista-estados</a><br>
                <a href="https://inovacaoafro.pythonanywhere.com/cartorio/api/lista-cidades-estado/SP" target="_blank"> https://inovacaoafro.pythonanywhere.com/cartorio/api/lista-cidades-estado/SP (EX: BA, RJ)</a><br>
                <a href="https://inovacaoafro.pythonanywhere.com/cartorio/api/lista-cartorios-cidade/4315" target="_blank"> https://inovacaoafro.pythonanywhere.com/cartorio/api/lista-cartorios-cidade/4315</a><br>
                <a href="https://inovacaoafro.pythonanywhere.com/cartorio/api/lista-cartorios-estado/BA?limit=200&offset=200" target="_blank"> https://inovacaoafro.pythonanywhere.com/cartorio/api/lista-cartorios-estado/BA?limit=200&offset=200</a><br>


            </div>


        </div>
    </section>



{% endblock %}