{% extends 'people/dashboard/base.html' %}
{% load static %}
{% load l10n %}


{% block topo %}
     <li class="breadcrumb-item"><a href="{% url 'pessoas:index' %}">HOME</a></li>
    <li class="breadcrumb-item active"> RELATÓRIOS </li>
{% endblock %}

{% block content %}

    <section class="content">
        <div class="container">

            <div class="card">
                <div class="card-header">
                                        <h3 class="card-title">RELATÓRIOS </h3>
                    {#                    <br>#}
                    {#                    <hr>#}

                    {#                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPessoa">#}
                    {#                        Novo Cadastro#}
                    {#                    </button>#}
                </div>
                <!-- /.card-header -->
                <div class="card-body">

                    <ul>

                        <li><a href="{% url 'pessoas:maisnovas' %}"> 10 Pessoas Mais Jovens </a>  | JSON <a href="{% url 'pessoas:json_maisnovas' %}" target="_blank"> <i class="fas fa-download nav-icon fa-1x"></i></a> </li>
                        <li><a href="{% url 'pessoas:maisvelhas' %}"> 10 Pessoas Mais Velhas </a> | JSON <a href="{% url 'pessoas:json_maisvelhas' %}" target="_blank"> <i class="fas fa-download nav-icon fa-1x"></i></a> </li>

                    </ul>

                </div>
            </div>
        </div>
    </section>




    {% include 'people/dashboard/modals/m_pessoa.html' %}


{% endblock %}

{% block scripts %}

    <script src="{% static 'plugins/datatables/jquery.dataTables.js' %} "></script>
    <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %} "></script>



    <script>
        $(function () {
            $("#example1").DataTable({
                "order": [[0, 'asc']],
                "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
                "iDisplayLength": 50,
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }


                }
            });

        });

    </script>

{% endblock %}